<button type="button"
        class="btn btn-success btn-sm"
        data-bs-toggle="modal"
        data-bs-target="#staticBackdrop"
        #btnUpdateGoodsInwardModal
        (click)="!goodsInward.publicId && createDraft.emit()">
  <i class="bi bi-plus-circle-fill pe-2"></i>
  Créer un bon d'entré
</button>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Créer un bon d'entré, Référence : {{reference}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formGroup">
          <div class="mb-3">
            <label for="provider" class="form-label">Fournisseur</label>
            <input type="text" class="form-control" id="provider" formControlName="provider">
          </div>
          <div class="mb-3">
            <label for="creationDate" class="form-label">Quantité initiale</label>
            <input type="number" class="form-control" id="creationDate" formControlName="creationDate">
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">
          Fermer</button>
        <button type="button" class="btn btn-sm btn-success" data-bs-dismiss="modal" (click)="submit()" [disabled]="formGroup.invalid">
          <i class="bi bi-floppy2 pe-2"></i>
          Enregistrer</button>
      </div>
    </div>
  </div>
</div>
