<div class="container mt-4 mt-lg-5 mt-xxl-5 d-flex justify-content-center pt-lg-5">
  <div>
    <p-card class="col-12 col-lg-6 col-xxl-5" header="Ajouter un Nouveau Utilisateur">
      <div class="mt-2 mt-xxl-5">
        <form [formGroup]="createUserFormGroup">
          <div class="d-block px-0 mx-0 row">
            <label class="px-0" for="username-create">Nom Utilisateur:</label>
            <input pAutoFocus
                   [autofocus]="true"
                   (keydown.enter)="!createUserFormGroup.invalid && onSubmit()"
                   id="username-create"
                   type="text"
                   pInputText
                   formControlName="username" />
          </div>

          <div class="d-block px-0 mx-0 mt-5 row">
            <label class="px-0" for="password-create">Mot de passe:</label>
            <input (keydown.enter)="!createUserFormGroup.invalid && onSubmit()"
                   id="password-create"
                   type="text"
                   pInputText
                   formControlName="password" />
          </div>
          @if (showPwdAlert) {
            <p class="position-absolute text-danger">
              L'utilisateur ou le Mot de Passe est Invalid
            </p>
          }

        </form>
      </div>
      <ng-template pTemplate="footer">
        <div class="d-grid d-sm-flex justify-content-sm-between">
          <p-button [raised]="true"
                    class="w-full d-inline-grid d-sm-flex"
                    icon="pi pi-arrow-left"
                    label="Retour"
                    severity="secondary"
                    routerLink="/login" />

          <p-button [raised]="true"
                    label="Créer"
                    icon="pi pi-check"
                    class="btn-primary w-full d-inline-grid mt-3 mt-sm-0 d-sm-flex"
                    [loading]="loading"
                    [disabled]="createUserFormGroup.invalid"
                    (onClick)="onSubmit()"/>
        </div>
      </ng-template>
    </p-card>
  </div>
</div>
<div class="d-flex justify-content-center mt-3 mt-lg-5">
  <p-image alt="image" src="logo.svg" />
</div>
<p-toast key="t2" />

