
<button type="button"
        class="btn btn-success btn-sm d-none"
        #btnDeleteModal
        data-bs-toggle="modal"
        [attr.data-bs-target]="'#deleteModal' + id">
</button>

<div class="modal fade" [id]="'deleteModal' + id" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="updateModalLabel">{{title}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{content}}

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Non</button>
        <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="modal" (click)="validDelete.emit(true)">
          <i class="bi bi-trash-fill pe-2"></i>
          Oui Supprimer</button>
      </div>
    </div>
  </div>
</div>
