<div class="container mt-4 mt-lg-5 mt-xxl-5 d-flex justify-content-center pt-lg-5">
  <div>
    <p-card class="col-12 col-lg-6 col-xxl-5" header="Ajouter un Nouveau Utilisateur">
      <div class="mt-2 mt-xxl-5">
        <form [formGroup]="createUserFormGroup">
          <div class="d-block px-0 mx-0 row">
            <label class="px-0" for="username">Nom Utilisateur:</label>
            <input id="username" type="text" pInputText formControlName="username" />
          </div>

          <div class="d-block px-0 mx-0 mt-5 row">
            <label class="px-0" for="password">Mot de passe:</label>
            <input id="password" type="text" pInputText formControlName="password" />
          </div>
        </form>
      </div>
      <ng-template pTemplate="footer">
        <div class="d-flex justify-content-end">
          <p-button [raised]="true"
                    label="Submit"
                    icon="pi pi-check"
                    class="btn-primary w-full"
                    [loading]="loading"
                    (onClick)="onSubmit()"/>
        </div>
      </ng-template>
    </p-card>
  </div>
</div>
<div class="d-flex justify-content-center mt-3 mt-lg-5">
  <p-image alt="image" src="logo.svg" />
</div>
<p-toast key="t2" />

