<div class="p-2 p-lg-4">
  <div class="d-flex justify-content-between align-items-center">
    <div>
      <input type="text" placeholder="Chercher" [(ngModel)]="search" (ngModelChange)="searchSubject.next($event)" class="form-control" id="searchProd">
    </div>

    <app-client-create [reference]="reference" (createDraft)="createDraftClient()" (submitCreation)="createClient($event)" class="ms-auto"></app-client-create>
  </div>
  <div class="mt-3">
    <table *ngIf="clients | async as clientData" class="table">
      <thead>
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Réference</th>
        <th scope="col">Addresse</th>
        <th scope="col">Email</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody *ngIf="clientCount > 0">
      <tr *ngFor="let item of clientData">
        <td class="text-decoration-underline" style="cursor:pointer" (click)="clientupdate?.openUpdateModal(item)">{{item.name}}</td>
        <td>{{item.reference}}</td>
        <td>{{item.address}}</td>
        <td>{{item.email}}</td>
        <td>
          <i (click)="removeComponent?.openRemoveModal(item)" class="h4 bi bi-trash3-fill"></i>
        </td>
      </tr>
      </tbody>
    </table>
    <app-placeholder [isLoading]="isLoading"></app-placeholder>
    <app-pagination [count]="clientCount" (selectPage)="changePage($event)"></app-pagination>
    <app-client-update (submitUpdate)="updateClient($event)"></app-client-update>
    <app-remove (validDelete)="deleteClient($event)"></app-remove>
    <h6 class="d-flex mt-5 justify-content-center" *ngIf="clientCount === 0 && !isLoading">Aucun client trouvé</h6>
  </div>
</div>
