
<button type="button"
        class="btn btn-success btn-sm"
        data-bs-toggle="modal"
        data-bs-target="#staticBackdrop">Créer un produit
</button>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Créer un produit</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formGroup" #formAddProduct>
          <div class="mb-3">
            <label for="name" class="form-label">Nom de produit</label>
            <input type="text" class="form-control" id="name" formControlName="name">
          </div>
          <div class="mb-3">
            <label for="quantity" class="form-label">Quantité initiale</label>
            <input type="number" class="form-control" id="quantity" formControlName="initialValue">
          </div>
          <div>
            <label for="product-unit" class="form-label">Unité de produit</label>
            <select class="form-select" aria-label="Default select example" id="product-unit" formControlName="unit">
              <option [value]="unitEnum.KG">Kg</option>
              <option [value]="unitEnum.PIECE">Pièce</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="provider" class="form-label">Fournisseur</label>
            <input type="text" class="form-control" id="provider" formControlName="provider">
          </div>
          <div class="mb-3">
            <label for="product-type" class="form-label">Type de produit</label>
            <select class="form-select" aria-label="Default select example" id="product-type" formControlName="type">
              <option [value]="typeEnum.RAW">Matière première</option>
              <option [value]="typeEnum.FINAL">Produit finis</option>
            </select>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-sm btn-success" data-bs-dismiss="modal" (click)="submit()" [disabled]="formGroup.invalid">Enregistrer</button>
      </div>
    </div>
  </div>
</div>
