  <ng-template pTemplate="start">
    <div class="d-flex">
      <img class="d-sm-block d-none" alt="image" src="stok.png" width="160px" />
      <img class="d-block d-sm-none" alt="image" src="stok-mobile.png" width="45px" />
      <button (click)="sidebarVisible = true"
              size="large"
              class="bars-btn position-relative" icon="pi pi-bars" ></button>
    </div>
  </ng-template>

  <ng-template pTemplate="end">
    <div class="flex align-items-center">
      <input type="text"  placeholder="Recherche" class="me-1 me-sm-3 input-search" />
      <i (click)="disconnect()" ></i>
    </div>
  </ng-template>

<router-outlet></router-outlet>
