.input-search {
  width: 180px;
}

@media (min-width: 650px) {
  .input-search {
    width: 350px;
  }
}

.bars-btn {
  background: transparent;
  color: black;
  border: none;
  &:hover {
    background: transparent;
  }
}

a.sideBar-element {
  height: 40px;
  text-align: start;
  padding: 0 15px;
  line-height: 40px;
  font-size: large;
  color: black;
  text-decoration: none;
  &:hover {
    background: lightgray;
    cursor: pointer;
  }
}
